* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  
}
:root{
  --highlight-1: #d2d2d2;
  --mainTextColor: #666666;
}

#root {
  display: flex;
  height: 100dvh;
  /* max-width: 950px; */
  width: 100dvw;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border: solid 1pt gray;
  

}

